body {
  background-color: #f5f5f1;
}
.navbar {
  background-color: #651d1d;
}
.section-icons {
  background-color: #28332f;
  padding: 40px 0;
  text-align: center;
}
.icon-circle {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  margin: 20px auto;
  font-size: 40px;
}
.explora { background-color: #354d39; }
.aprende { background-color: #99a34a; }
.comparte { background-color: #49623a; }
.btn-register {
  background-color: #a12c2c;
  color: white;
  padding: 15px 30px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  text-align: center;
}
footer {
  background-color: #651d1d;
  color: white;
  padding: 20px 0;
  text-align: center;
}