.container {
  display: flex;
}
.sidebar {
  width: 220px;
  background-color: #f1f1f1;
  padding: 1rem;
}

.sidebar-title {
  color: #6b1e1e;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.filter-group {
  margin-bottom: 1.5rem;
}

.filter-toggle {
  background-color: #884747;
  color: white;
  width: 100%;
  text-align: left;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.filter-group label {
  display: block;
  margin: 5px 0 0 20px;
  color: #333;
}

.displayEspecies {
  padding: 20px;
  display: flex;
  font-family: "Arial", sans-serif;
}

.icono {
  margin: 10px;
  color: #7c2020;
  text-align: center;
  font-size: 40px;
}

.tituloCentro {
  display: flex;
  margin: auto;
}

.titulo {
  margin: 10px;
  color: #7c2020;
  text-align: center;
}
