main {
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-color: #fffefa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90%;
}

.caja {
  color: #000000;
  height: 100%;
  width: 70%;
  margin: 20px;
  border-radius: 20px;
  background-color: #f0e6e6; /* ejemplo para que se vea bien */
  display: flex;
  justify-content: center;
  align-items: center;
}

#campoNombre {
  display: flex;
  width: 75%;
  border-style: none;
  background-color: #fffefa;
  color: #807f7a;
}

#campoDesc {
  display: flex;
  width: 75%;
  height: 30%;
  border-style: none;
  background-color: #fffefa;
  color: #807f7a;
}

#imgDisplay {
  display: flex;
  background-color: #fffefa;
  width: 25%;
  height: 50%;
  border-radius: 10px;
}

#campoTipo {
  color: #807f7a;
  background-color: #fffefa;
  height: 35px;
  width: 180px;
}

#botonGuardar {
  padding: 5px;
  width: 150px;
  background-color: #5b8041;
  color: #fffefa;
  border-radius: 15px;
  border-style: none;
}

#botonCancelar {
  padding: 5px;
  width: 150px;
  background-color: #7c2020;
  color: #fffefa;
  border-radius: 15px;
  border-style: none;
}
