.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  margin: 40px;
  padding: 20px;
  height: 70vh;
  width: 30vw;
  background-color: #f0e6e6;
  border-radius: 30px;
  box-shadow: 1px 10px 5px gray;
  text-align: center;
}
.cardTitulo {
  color: #7c2020;
  margin: 10px;
  font-size: 40px;
  font-weight: bolder;
}

.contenedorIcono {
}

.icono {
  font-size: 170px;
}

.botonAdmin {
  margin: 50px;
  padding: 15px;
  background-color: gray;
  color: white;
  text-decoration: none;
  border-radius: 20px;
  font-size: 30px;
}

.botonAdmin:visited {
  color: #f0e6e6;
}
