.centro {
  display: flex;
  justify-content: center; /* centra horizontalmente */
  align-items: center; /* centra verticalmente */
  height: 100%;
}
.contenedor {
  margin: 0px 40px 40px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 80%;
  border-radius: 15px;
  background-color: #f0e6e6;
}

.divDatos {
  margin: 0px;
  padding: 40px;
  height: 100%;
  width: 100%;
}

.icono {
  margin: 10px;
  color: #7c2020;
  text-align: center;
  font-size: 40px;
}
.contenedorTitulo {
  margin: 20px;
  display: flex;
  text-align: center;
}
.tituloCentro {
  display: flex;
  margin: auto;
}

.titulo {
  margin: 10px;
  color: #7c2020;
  text-align: center;
}
.grupo {
  padding: 0px;
  margin: 0px;
  width: 100%;
  display: flex;
}

.grupoTituloEtiquetas {
  display: block;
  width: 75%;
}

.contenedorTextarea {
  height: 75%;
  width: 100%;
}

.inputTitulo {
  display: block;
  margin: 30px;
  padding: 10px;
  width: 90%;
  border: solid;
  border-color: #cbc6c6;
  border-radius: 10px;
  height: 50px;
  font-size: 25px;
}

select.selectEtiquetas {
  display: block;
  margin: 30px;
  width: 25%;
  font-size: 25px;
  border-style: none none solid none;
  border-color: #7c2020;
  color: #7c2020;
  background-color: #f0e6e6;
}

.inputPost {
  resize: none;
  margin: 0px;
  padding: 30px;
  display: block;
  background-color: #fffefa;
  height: 100%;
  width: 100%;
  border: solid;
  border-color: #cbc6c6;
  border-radius: 10px;
  text-align: justify;
  font-size: 25px;
}
.botones {
  padding-top: 30px;
  width: 25%;
}

.botonGuardar,
.botonCancelar {
  display: block;
  margin-bottom: 20px;
  height: 5vh;
  width: 100%;
  border: none;
  border-radius: 15px;
  font-weight: bolder;
  font-size: 20px;
  color: #ffffff;
}

.botonCancelar {
  background-color: #7c2020;
}

.botonGuardar {
  background-color: #4a5e47;
}

.avisoContenedor {
  text-align: center;
}

.aviso {
  color: #4a5e47;
  font-size: 20px;
  font-weight: bold;
}
