.centro {
  display: flex;
  justify-content: center; /* centra horizontalmente */
  align-items: center; /* centra verticalmente */
  height: 100vh;
}
.contenedor {
  margin: 0px 40px 40px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 80%;
  border-radius: 15px;
  background-color: #f0e6e6;
}
.divDatos {
  margin: 0px;
  padding: 40px;
  height: 100%;
  width: 100%;
}

.titulo {
  margin-top: 40px;
  color: #7c2020;
  text-align: center;
}

.grupo {
  width: 100%;
  display: flex;
}

.grupoTituloEtiquetas {
  display: block;
  width: 80%;
}

.contenedorTextarea {
  justify-content: center;
  align-items: center;
  margin: 30px;
  padding: 20px;
  height: 50vh;
  width: 65vw;
}

.inputTitulo {
  display: block;
  margin: 30px;
  width: 80%;
}
select.selectEtiquetas {
  display: block;
  margin: 30px;
}

.inputPost {
  resize: none;
  margin: 0px;
  padding: 2px;
  display: block;
  background-color: #fffefa;
  height: 100%;
  width: 100%;
  border: none;
  text-align: justify;
}

.botonGuardar {
  display: block;
  margin: 10px;
  height: 5vh;
  width: 10vw;
  border: none;
  border-radius: 15px;
  font-weight: bolder;
  font-size: 20px;
  background-color: #4a5e47;
  color: #f0e6e6;
}

.botonCancelar {
  display: block;
  margin: 10px;
  height: 5vh;
  width: 10vw;
  border: none;
  border-radius: 15px;
  font-weight: bolder;
  font-size: 20px;
  background-color: #7c2020;
  color: #f0e6e6;
}
