.registroBody {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main {
  display: block;
  float: left;
  width: 60%;
  background-color: #fffefa;
}

.imagen {
  display: block;
  float: right;
  width: 40%;
  height: 100vh;
  position: relative;
}

.formulario {
  padding: 30px;
}

.franja {
  margin-top: 300px;
  padding-top: 10px;
  background-color: rgba(190, 70, 70, 0.7);
  color: white;
  text-align: center;
  height: 60px;
  width: 100%;
  z-index: 1;
  position: relative;
}

.logo {
  margin-top: 175px;
  margin-left: 27%;
  position: absolute;
  z-index: 2;
  clip-path: circle(50%);
}

.input {
  margin: 20px;
  padding: 20px;
  background-color: #f0e6e6;
}

.emailInput {
  border-radius: 5px;
}

.registroButton {
  margin: 20px;
  padding: 10px;
  font-size: 20px;
  font-weight: bolder;
  color: white;
  background-color: #be4646;
  border-radius: 8px;
  width: 30%;
}

.text {
  margin: 5px;
  font-size: 20px;
  text-align: center;
}

.titulo {
  margin-top: 30px;
  color: #be4646;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

.slogan {
  padding-top: 200px;
  color: white;
  text-align: center;
  font-size: 40px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bolder;
}

.link:visited {
  color: white;
}

.cal {
  margin: 10px;
  width: 94%;
  display: flex;
  justify-content: start;
  overflow: visible;
}

.apellidos {
  display: flex;
  flex-direction: row;
}

.primerAp,
.segundoAp {
  margin: 10px;
  width: 45%;
}

.nombre,
.usuario,
.correo,
.celular,
.contraseña {
  margin: 10px;
  width: 94%;
}
